# Dependencies
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store
*.dmg

# Windows
Thumbs.db

# Secrets - DON'T COMMIT THESE
android/app/google-services.json
*.json
!pubspec.lock
!assets/images/*.json
diskusi-bisnis-firebase-adminsdk*.json
client_secret_*.json
lib/firebase_options.dart

# Build artifacts
*.apk
*.aab
*.ipa
